.component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .4rem;
    width: 100%;
}
.component h2{
    margin: .3rem 0;
    color: #2b2b2b;
    text-transform: capitalize;
}
.component__example{
    width: calc(100% - 2rem);
    border-radius: .5rem;
    padding: 1rem;
    border: 1px solid #000;
}

.component__usage{
    width: 100%;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--color-grey);
    color: #ffffff;
}
.component__usage--script{
    color: #ff54ff;
}
.component__properties{
    width: 100%;
    margin: 1rem auto;
    overflow: auto;
}